@charset "utf-8";
/* CSS Document */
body,td,th {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #000;
}
body {
	background-color: #FFF;
	background:#fff url(../images/bg.gif) bottom left repeat-x;
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
}
#topbg{
	background:url(../images/img_tbg.gif) repeat-x;
	height:10px;
	width:100%;
	overflow:hidden;
}
#fbg{
	background:#000028 url(../images/img_fbg.gif) repeat-x;
	margin-top:20px;
}

.top_navigation{
	background:url(../images/img_navibg1.gif) repeat-x;
	padding:0px 0px 0px 0px;
	}
.leftcorn{
	width:7px;
	background:url(../images/img_navilcorn.gif) no-repeat;
	height:36px;
	float:left;
	}		
.rightcorn{
	width:7px;
	background:url(../images/img_navircorn.gif) no-repeat;
	height:36px;
	float:right;
	}	
.top_navigation ul{
list-style:none;
margin:0;
padding:0

}
.top_navigation ul li{
float:left;
list-style:none;
}
.top_navigation ul a{
padding:0px;
font-size:17px;
color:#fff;
font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
text-decoration:none;
padding:6px 24px 6px 25px;
display:block;
background:url(../images/img_tnavisap.gif)  repeat-y top left;
}
.top_navigation ul a.first{
background:none;}
.top_navigation ul a.first:hover{
color:#000;
	background:url(../images/img_navhover.gif) no-repeat top left ;}

.top_navigation ul a:hover{
	background:url(../images/img_navhover.gif) no-repeat top left;
}
.top_navigation ul a.active{
	background:url(../images/img_navhover.gif) no-repeat top left;}	
.mainbottomcorn{
	background:#fff url(../images/img_mainbottomcorn.gif) bottom no-repeat;
	height:7px;;
	overflow:hidden;
}
.mainborder{
	border:#afaf83 1px solid;
	border-bottom:none;
	padding:10px;
}

/*.left_navi{
	float:left;
	margin-left:12px;
	width:195px;
	margin-bottom:15px;
}*/
.left_navi ul{
	margin:0px;
	padding:0px;
	width:178px;
	float:left;
}
.left_navi ul li{
	float:left;
	width:178px;
	list-style:none;
}
.left_navi ul a{
	padding:0px;
	float:left;
	width:163px;
	padding:8px 0px 10px 15px;
	background:url(../images/img_navbg.gif) no-repeat;
	z-index:1;
	height:21px;
	color:#000;
	text-decoration:none;
	font-weight:bold;
	font-size:15px;
	}
.left_navi ul a img{
	border:none;
	margin:0px 4px -5px 0}	
.left_navi ul a:hover{
	color:#0b1973;
	}
.left_navi ul a.open{
	padding:0px;
	float:left;
	width:163px;
	color:#fff;
	padding:8px 0px 10px 15px;
	background:url(../images/img_navbg_open.gif) no-repeat;
	z-index:1;
	}

.left_navi ul li ul
{
	float:left;
	width:163px;
	margin:0px 5px 0 7px;
	background:#f0f2dd url(../images/img_navinnerbg.gif) repeat-x;
	z-index:1;
	border-left:1px solid #c6b889;
	border-right:1px solid #c6b889;
	border-bottom:1px solid #c6b889;
	padding:4px 0px 5px 0px;
	list-style:none;
	}
.left_navi ul li ul li
{
	float:left;
	width:140px;
	padding:6px;
	}	
.left_navi ul li ul a {
    background: url("../images/icon_arrow.png") no-repeat scroll 0 4px transparent;
    border-bottom: 1px dashed #BBB377;
    color: #000000;
    float: left;
    font-size: 11px;
    font-weight: normal;
    height: auto;
    margin-top: -5px;
    padding: 0 8px 3px 10px !important;
    text-decoration: none;
    width: 130px;
    z-index: 1;
}
.left_navi ul li ul a:hover{
	color:#297daf;
}
.arial12nfff{
	font-family:Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #fff;
	line-height:20px;
	font-weight:normal ;
	text-decoration:none;
}
a.arial12nfff:hover{
	font-family:Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #fff;
	font-weight:normal ;
	text-decoration:underline;
}
.arial12n7bcfff{
	font-family:Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #7bcfff;
	font-weight:normal ;
	text-decoration:none;
}
.arial12B0d1d76{
	font-family:Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #0d1d76;
	font-weight:bold ;
	text-decoration:none;
}
.arial26N000{
	font-family:Arial, Helvetica, sans-serif;
	font-size: 26px;
	color: #000;
	font-weight:normal ;
	text-decoration:none;
}
.bottombordercecec0{
	border-bottom:#cecec0 1px solid;
}
table .grid{
	background:#fbfbfb;
	border:1px solid #c0c0ba;
	border-top:none;
}
table .grid td{
	border-top:1px solid #c0c0ba;
	padding:9px;
	font-size:12px;
	font-family: Arial, Helvetica, sans-serif;
}
table .grid td a{
	font-size: 12px;
	color: #000066;
	text-decoration:underline;
	font-family: Arial, Helvetica, sans-serif;
}
table .grid td a:hover{
	font-size: 12px;
	color: #000;
	text-decoration:none;
}
table .grid tr.headercolor td{
	background:#686859 url(../images/img_gridbg.gif) repeat-x;
	font-weight:bold;
	color:#fff;
	font-size:13px
}
table .grid tr.headercolor td a{
	color:#fff;
	font-weight:bold;
	text-decoration:underline;
	font-size:13px
}
table .grid tr.headercolor td a:hover{
	font-weight:bold;
	text-decoration:none;
	font-size:13px
}
table .grid tr.headercolor th{
	background:#686859 url(../images/img_gridbg.gif) repeat-x;
	font-weight:bold;
	color:#fff;
	font-size:13px
}
table .grid tr.headercolor th a{
	color:#fff;
	font-weight:bold;
	text-decoration:underline;
	font-size:13px
}
table .grid tr.headercolor th a:hover{
	font-weight:bold;
	text-decoration:none;
	font-size:13px
}
table .grid td table {
	border:none
}
table .grid td table td{
	border-top:none;
	padding:0px;
}

.arial12BU0d1d76{
	font-family:Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #0d1d76;
	font-weight:bold ;
	text-decoration:underline;
}
a.arial12BU0d1d76:hover{
	font-family:Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #0d1d76;
	font-weight:bold ;
	text-decoration:none;
}

table .from{
	background:#faf9f0;
	border:1px solid #c0c0ba;
}
table .from td{
	padding:5px;
	}
table .from td table td{
	border-top:none;
	padding:0;
}
.red{
	color:#F00;
}
.inputbox{
	font-family:Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #000;
	padding:3px 5px;
	width:90%;
	border:1px #9c9c9c solid;
}
.textarea{
	font-family:Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #000;
	padding:5px;
	width:98%;
	border:1px #9c9c9c solid;
}
.arial12B00{
	font-family:Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #000;
	font-weight:bold ;
	text-decoration:none;
}
.arial11n00{
	font-family:Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #000;
	text-decoration:none;
}
.arial18000{
	font-family:Arial, Helvetica, sans-serif;
	font-size: 16px;
	color: #000;
	font-weight:bold;
}
.arial14000{
	font-family:Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #000;
}
.arial10n00{
	font-family:Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #000;
	text-decoration:none;
}
.bgfafafa{
	background:#fafafa;
	border:1px solid #dadac1;
}
.arial18U000{
	font-family:Arial, Helvetica, sans-serif;
	font-size: 16px;
	color: #000;
	text-decoration:underline;
	font-weight:bold;
}
a.arial18U000:hover{
	font-family:Arial, Helvetica, sans-serif;
	font-size: 16px;
	color: #0d1d76;
	text-decoration:none;
	font-weight:bold;
}
.arial12N000000{
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#000;
	font-weight:normal;
	text-decoration:none;
}
a.arial12N000000:hover{
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#000;
	font-weight:normal;
	text-decoration:underline;
}
.arial12Bffffff{
	font-family:Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #fff;
	font-weight:bold ;
	text-decoration:none;
}
/*---13-05-2011---*/
.loginbg{
	background:url(../images/img_login_bg.gif) no-repeat;
	width:513px;
	height:245px;
	padding-top:44px;
}
.arial30N000{
	font-family:Arial, Helvetica, sans-serif;
	font-size: 30px;
	color: #000;
	font-weight:normal ;
	text-decoration:none;
}
.arial15000{
	font-family:Arial, Helvetica, sans-serif;
	font-size: 15px;
	color: #000;
}
.arial12B991916{
	font-family:Arial, Helvetica, sans-serif;
	font-size:13px;
	color:#991916;
	font-weight:bold;
	text-decoration:underline;
}
a.arial12B991916:hover{
	font-family:Arial, Helvetica, sans-serif;
	font-size:13px;
	color:#991916;
	font-weight:bold;
	text-decoration:none;
}
/*---19-05-2011---*/
.arial12b991916{
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#991916;
	font-weight:bold;
	text-decoration:underline;
}
a.arial12b991916:hover{
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#991916;
	font-weight:bold;
	text-decoration:None;
}
.popupbg{
	border:#afaf83 2px solid;
	background-color:#fff;
}
.arial11BU0d1d76{
	font-family:Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #0d1d76;
	font-weight:normal ;
	text-decoration:underline;
}
a.arial11BU0d1d76:hover{
	font-family:Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #0d1d76;
	font-weight:normal ;
	text-decoration:none;
}
/*--24-05-2011--*/
.border_d3d5c1_1{
	background-color:#ffffff;
	border:#d3d5c1 solid 1px;
	background-color:#f2f2f2;
}
.arial12NU_F00{
	font-family:Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #F00;
	font-weight:normal ;
	text-decoration:underline;
}
a.arial12NU_F00:hover{
	font-family:Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #F00;
	font-weight:normal ;
	text-decoration:none;
}
.dotted_border{
	border-bottom:1px dotted #000;
	line-height:22px;
}
/*---01-06-2011---*/
/*.Search{
	border:1px solid #c0c0ba;
	padding:25px 9px 9px 15px;
	font-size:12px;
	font-family: Arial, Helvetica, sans-serif;
	background:url(../images/img_search_text.png) 10px 8px no-repeat;
	background-color:#faf9f0;
}*/
.Search{
	background:url(../images/img_searchbg.gif) bottom repeat-x;
	padding:0 14px;
	font-size:16px;
	height:32px;
	color:#fff;
	font-weight:bold;
	}	
	